@model UserAccountCommand
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "_UserAccountLayout";
    if (Model.Message == ApplicationMessages.ResetPasswordSuccessful)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی سایکو شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }else if (Model.Message != null && Model.Message != ApplicationMessages.ResetPasswordSuccessful)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی سایکو شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
}

<div id="main">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <a class="logo-account">
                <img class="mt-3" src="~/Theme/assets/images/shoplogo.jpg" alt="ElectronShop" title="ElectronShop">
            </a>
            <span class="account-head-line text-center">@ViewData["Title"]</span>
            <div class="content-account">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="ResetPassword.Email">
                    <input type="hidden" asp-for="ResetPassword.Token">
                    <div>
                        <label asp-for="ResetPassword.Password" class="pull-right">کلمه عبور</label>
                        <input asp-for="ResetPassword.Password" type="password" class="form-control" placeholder="کلمه عبور">
                        <span asp-validation-for="ResetPassword.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ResetPassword.RePassword" class="pull-right">تکرار کلمه عبور</label>
                        <input asp-for="ResetPassword.RePassword" type="password" class="form-control" placeholder="تکرار کلمه عبور">
                        <span asp-validation-for="ResetPassword.RePassword" class="text-danger"></span>
                    </div>
                    <div class="parent-btn">
                        <button type="submit" class="dk-btn dk-btn-info">
                            تغییر کلمه عبور
                            <i class="fa fa-sign-in sign-in"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}