@model UserAccountCommand
@{
    ViewData["Title"] = "ورود به سایکو شاپ";
    Layout = "_UserAccountLayout";
    if (Model.Message != null)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی سایکو شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
}

<div id="main">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <a class="logo-account">
                <img class="mt-3" src="~/Theme/assets/images/shoplogo.jpg" alt="ElectronShop" title="ElectronShop">
            </a>
            <span class="account-head-line text-center">@ViewData["Title"]</span>
            <div class="content-account">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label asp-for="SignInUserAccount.UserName" class="pull-right">نام کاربری</label>
                        <input asp-for="SignInUserAccount.UserName" type="text" class="form-control" placeholder="نام کاربری">
                        <span asp-validation-for="SignInUserAccount.UserName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="SignInUserAccount.Password" class="pull-right">کلمه عبور</label>
                        <input asp-for="SignInUserAccount.Password" type="password" class="form-control" placeholder="کلمه عبور">
                        <span asp-validation-for="SignInUserAccount.Password" class="text-danger"></span>
                    </div>
                    <a asp-controller="UserAccount" asp-action="ForgotPassword" class="account-link-password">کلمه عبور خود را فراموش کرده ام</a>
                    <div class="parent-btn">
                        <button type="submit" class="dk-btn dk-btn-info">
                            ورود به سایکو شاپ
                            <i class="fa fa-sign-in sign-in"></i>
                        </button>
                    </div>
                    <div class="form-auth-row">
                        <label for="remember" class="ui-checkbox">
                            <input asp-for="SignInUserAccount.RememberMe" type="checkbox" checked="checked">
                            <span class="ui-checkbox-check"></span>
                        </label>
                        <label asp-for="SignInUserAccount.RememberMe" class="remember-me">مرا به خاطر داشته باش</label>
                    </div>
                </form>
            </div>
            <div class="account-footer">
                <span>کاربر جدید هستید؟</span>
                <a asp-controller="UserAccount" asp-action="SignUp" class="btn-link-register">ثبت‌ نام در سایکو شاپ</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }