@model InventoryAdminCommand
@{
    ViewData["Title"] = "ویرایش انبار";
    if (Model.Message == ApplicationMessages.TaskSuccessful)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی سایکو شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
    else if (Model.Message == ApplicationMessages.DuplicatedInfo)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Message',
                text: 'فروشگاه اینترنتی سایکو شاپ',
                confirmButtonText: 'باشه',
            })
        </script>
    }
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <strong class="card-title">@ViewData["Title"]</strong>
                </div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="EditInventory.Id" value="@Model.EditInventory.Id" />
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="EditInventory.ProductId">محصول</label>
                                    <select class="form-control" asp-for="EditInventory.ProductId" asp-items="Model.Products">
                                        <option value="0">انتخاب کنید...</option>
                                    </select>
                                    <span asp-validation-for="EditInventory.ProductId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="EditInventory.Price">قیمت</label>
                                    <input asp-for="EditInventory.Price" type="number" min="1" class="form-control" placeholder="قیمت" />
                                    <span asp-validation-for="EditInventory.Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">ویرایش</button>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Inventory" asp-action="Index">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Css
    {
    <link href="~/AdminTheme/datepicker/css/persian-datepicker.min.css" rel="stylesheet" />
}

    @section Scripts
    {
    <script src="~/AdminTheme/datepicker/js/persian-date.min.js"></script>
    <script src="~/AdminTheme/datepicker/js/persian-datepicker.min.js"></script>
    <script>
        $('.persianDateInput').persianDatepicker({
            format: 'YYYY/MM/DD',
            autoClose: true,
            initialValueType: "persian"
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }