<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - PsychoShop</title>
    <link rel="icon" href="~/AdminTheme/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/AdminTheme/css/simplebar.css">
    <link rel="stylesheet" href="~/AdminTheme/css/feather.css">
    <link rel="stylesheet" href="~/AdminTheme/css/select2.css">
    <link rel="stylesheet" href="~/AdminTheme/css/dropzone.css">
    <link rel="stylesheet" href="~/AdminTheme/css/uppy.min.css">
    <link rel="stylesheet" href="~/AdminTheme/css/jquery.steps.css">
    <link rel="stylesheet" href="~/AdminTheme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/AdminTheme/css/quill.snow.css">
    <link rel="stylesheet" href="~/AdminTheme/css/daterangepicker.css">
    <link rel="stylesheet" href="~/AdminTheme/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/AdminTheme/css/app-dark.css" id="darkTheme">
    <script src="~/sweetalert2/dist/sweetalert2.min.js"></script>
    <link href="~/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    @await RenderSectionAsync("Css", required: false)
</head>
<body class="vertical dark rtl">
    <div class="wrapper">
        
        @await Component.InvokeAsync("AdminProfileNav")

        <partial name="_Menu">

            <main role="main" class="main-content">
                @RenderBody()
            </main>
    </div>
    <script src="~/AdminTheme/js/jquery.min.js"></script>
    <script src="~/AdminTheme/js/popper.min.js"></script>
    <script src="~/AdminTheme/js/moment.min.js"></script>
    <script src="~/AdminTheme/js/bootstrap.min.js"></script>
    <script src="~/AdminTheme/js/simplebar.min.js"></script>
    <script src='~/AdminTheme/js/daterangepicker.js'></script>
    <script src='~/AdminTheme/js/jquery.stickOnScroll.js'></script>
    <script src="~/AdminTheme/js/tinycolor-min.js"></script>
    <script src="~/AdminTheme/js/config.js"></script>
    <script src="~/AdminTheme/js/d3.min.js"></script>
    <script src="~/AdminTheme/js/topojson.min.js"></script>
    <script src="~/AdminTheme/js/datamaps.all.min.js"></script>
    <script src="~/AdminTheme/js/datamaps-zoomto.js"></script>
    <script src="~/AdminTheme/js/datamaps.custom.js"></script>
    <script src="~/AdminTheme/js/Chart.min.js"></script>
    <script src="~/AdminTheme/js/gauge.min.js"></script>
    <script src="~/AdminTheme/js/jquery.sparkline.min.js"></script>
    <script src="~/AdminTheme/js/apexcharts.min.js"></script>
    <script src="~/AdminTheme/js/apexcharts.custom.js"></script>
    <script src="~/AdminTheme/js/jquery.mask.min.js"></script>
    <script src="~/AdminTheme/js/select2.min.js"></script>
    <script src="~/AdminTheme/js/jquery.steps.min.js"></script>
    <script src="~/AdminTheme/js/jquery.validate.min.js"></script>
    <script src="~/AdminTheme/js/jquery.timepicker.js"></script>
    <script src="~/AdminTheme/js/dropzone.min.js"></script>
    <script src="~/AdminTheme/js/uppy.min.js"></script>
    <script src="~/AdminTheme/js/quill.min.js"></script>
    <script src="~/AdminTheme/js/apps.js"></script>
    <script src="~/AdminTheme/js/site.js"></script>
    <script src="~/sweetalert2/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>