@using PsychoShop.Framework.Application
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - PsychoShop</title>
    <link rel="icon" href="~/AdminTheme/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/AdminTheme/css/simplebar.css">
    <link rel="stylesheet" href="~/AdminTheme/css/feather.css">
    <link rel="stylesheet" href="~/AdminTheme/css/select2.css">
    <link rel="stylesheet" href="~/AdminTheme/css/dropzone.css">
    <link rel="stylesheet" href="~/AdminTheme/css/uppy.min.css">
    <link rel="stylesheet" href="~/AdminTheme/css/jquery.steps.css">
    <link rel="stylesheet" href="~/AdminTheme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/AdminTheme/css/quill.snow.css">
    <link rel="stylesheet" href="~/AdminTheme/css/daterangepicker.css">
    <link rel="stylesheet" href="~/AdminTheme/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/AdminTheme/css/app-dark.css" id="darkTheme">
    <script src="~/sweetalert2/dist/sweetalert2.min.js"></script>
    <link href="~/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="vertical dark rtl">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/AdminTheme/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">پروفایل</a>
                        <a class="dropdown-item" href="#">خروج</a>
                    </div>
                </li>
            </ul>
        </nav>

        <partial name="_Menu">

            <main role="main" class="main-content">
                @RenderBody()
            </main>
    </div>
    <script src="~/AdminTheme/js/jquery.min.js"></script>
    <script src="~/AdminTheme/js/popper.min.js"></script>
    <script src="~/AdminTheme/js/moment.min.js"></script>
    <script src="~/AdminTheme/js/bootstrap.min.js"></script>
    <script src="~/AdminTheme/js/simplebar.min.js"></script>
    <script src='~/AdminTheme/js/daterangepicker.js'></script>
    <script src='~/AdminTheme/js/jquery.stickOnScroll.js'></script>
    <script src="~/AdminTheme/js/tinycolor-min.js"></script>
    <script src="~/AdminTheme/js/config.js"></script>
    <script src="~/AdminTheme/js/d3.min.js"></script>
    <script src="~/AdminTheme/js/topojson.min.js"></script>
    <script src="~/AdminTheme/js/datamaps.all.min.js"></script>
    <script src="~/AdminTheme/js/datamaps-zoomto.js"></script>
    <script src="~/AdminTheme/js/datamaps.custom.js"></script>
    <script src="~/AdminTheme/js/Chart.min.js"></script>
    <script src="~/AdminTheme/js/gauge.min.js"></script>
    <script src="~/AdminTheme/js/jquery.sparkline.min.js"></script>
    <script src="~/AdminTheme/js/apexcharts.min.js"></script>
    <script src="~/AdminTheme/js/apexcharts.custom.js"></script>
    <script src="~/AdminTheme/js/jquery.mask.min.js"></script>
    <script src="~/AdminTheme/js/select2.min.js"></script>
    <script src="~/AdminTheme/js/jquery.steps.min.js"></script>
    <script src="~/AdminTheme/js/jquery.validate.min.js"></script>
    <script src="~/AdminTheme/js/jquery.timepicker.js"></script>
    <script src="~/AdminTheme/js/dropzone.min.js"></script>
    <script src="~/AdminTheme/js/uppy.min.js"></script>
    <script src="~/AdminTheme/js/quill.min.js"></script>
    <script src="~/AdminTheme/js/apps.js"></script>
    <script src="~/AdminTheme/js/site.js"></script>
    <script src="~/sweetalert2/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>