@{
    ViewData["Title"] = "داشبورد";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h2 class="h5 page-title">خوش آمدید</h2>
                </div>
            </div>
            <div class="mb-2 align-items-center">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="chartbox mr-4">
                            <div id="areaChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 