<footer>
    <div class="footer-jump">
        <a>
            <span class="footer-jump-angle"><i class="fa fa-angle-up"></i>برگشت به بالا</span>
        </a>
    </div>

    <div class="container">
        <div class="footer-inner-box">
            <a class="footer-badge">
                <img src="~/Theme/assets/images/footer-svg/delivery.svg" alt="badge">
                <span class="item-feature">تحویل اکسپرس</span>
            </a>

            <a class="footer-badge">
                <img src="~/Theme/assets/images/footer-svg/contact-us.svg" alt="badge">
                <span class="item-feature">پشتیبانی 24 ساعته</span>
            </a>

            <a class="footer-badge">
                <img src="~/Theme/assets/images/footer-svg/payment-terms.svg" alt="badge">
                <span class="item-feature">پرداخت در منزل</span>
            </a>

            <a class="footer-badge">
                <img src="~/Theme/assets/images/footer-svg/return-policy.svg" alt="badge">
                <span class="item-feature">7 روز ضمانت برگشت</span>
            </a>

            <a class="footer-badge">
                <img src="~/Theme/assets/images/footer-svg/origin-guarantee.svg" alt="badge">
                <span class="item-feature">ضمانت اصل بودن کالا</span>
            </a>
        </div>
    </div>
    <div class="col-12">
        <div class="middle-bar-footer">
            <div class="col-lg-6 col-xs-12 pull-right">
                <div class="footer-links">
                    <div class="links-col">
                        <a class="head-line">راهنمای خرید از الکترون شاپ</a>
                        <ul class="links-ul">
                            <li><a>نحوه ثبت سفارش</a></li>
                            <li><a>رویه ارسال سفارش</a></li>
                            <li><a>شیوه‌های پرداخت</a></li>
                        </ul>
                    </div>

                    <div class="links-col">
                        <a class="head-line">خدمات مشتریان</a>
                        <ul class="links-ul">
                            <li><a>پرسش یه پاسخ های متداول</a></li>
                            <li><a>رویه های بازگرداندن کالا</a></li>
                            <li><a>شرایط استفاده</a></li>
                            <li><a>حریم خصوصی</a></li>
                            <li><a>گزارش باگ</a></li>
                        </ul>
                    </div>

                    <div class="links-col">
                        <a class="head-line">با الکترون شاپ</a>
                        <ul class="links-ul">
                            <li><a>اتاق خبر الکترون شاپ</a></li>
                            <li><a>فروش در الکترون شاپ</a></li>
                            <li><a>فرصت های شغلی</a></li>
                            <li><a>تماس با الکترون شاپ</a></li>
                            <li><a>درباره ما الکترون شاپ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 pull-left">
                <div class="footer-form">
                    <span class="newslitter-form">
                        از تخفیف‌ها و جدیدترین‌های دیجی‌استور باخبر
                        شوید:
                    </span>

                    <form>
                        <input type="text" class="input-footer" placeholder="آدرس ایمیل خود را وارد کنید">
                        <button class="btn-footer-post">ارسال</button>
                    </form>
                </div>

                <div class="footer-social">
                    <span class="newslitter-form-social">دیجی‌استور را در شبکه‌های اجتماعی دنبال کنید:</span>

                    <div class="social-links">
                        <a><i class="fa fa-instagram"></i></a>
                        <a><i class="fa fa-twitter"></i></a>
                        <a><i class="fa fa-facebook"></i></a>
                        <a><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="footer-address">
            <div class="footer-contact">
                <ul>
                    <li>هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم</li>
                    <li style="float:right">
                        شماره تماس : <a class="phone-contact">
                            ۶۱۹۳۰۰۰۰ - ۰۲۱ ، ۹۵۱۱۹۰۹۵
                            - ۰۲۱
                        </a>
                    </li>
                    <li class="email-title">آدرس ایمیل : <a>ElectronShop@gmail.com</a></li>
                </ul>
            </div>

            <div class="address-images">
                <a>
                    <img src="~/Theme/assets/images/footer-img/1090a120.png" alt="address">
                    <img src="~/Theme/assets/images/footer-img/71abe5c9.png" alt="address">
                </a>
            </div>
        </div>
    </div>

    <div class="more-info">
        <div class="col-12">
            <div class="about-site">
                <h1>فروشگاه اینترنتی الکترون شاپ بررسی، انتخاب و خرید آنلاین</h1>
                <p>
                    الکترون شاپ به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به
                    سه اصل، پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با
                    فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه
                    اینترنتی ایران تبدیل شود. به محض ورود به سایت الکترون شاپ با دنیایی از کالا رو به رو می‌شوید! هر
                    آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.
                </p>

                <div class="footer-inner-box">
                    <a class="footer-badge">
                        <img src="~/Theme/assets/images/footer-svg/footer-1.svg" style="width: 130px !important;"
                             alt="badge">
                    </a>

                    <a class="footer-badge">
                        <img src="~/Theme/assets/images/footer-svg/footer-2.svg" style="width: 130px !important;"
                             alt="badge">
                    </a>

                    <a class="footer-badge">
                        <img src="~/Theme/assets/images/footer-svg/footer-3.svg" style="width: 130px !important;"
                             alt="badge">
                    </a>

                    <a class="footer-badge">
                        <img src="~/Theme/assets/images/footer-svg/footer-4.svg" style="width: 130px !important;"
                             alt="badge">
                    </a>
                    <a class="footer-badge">
                        <img src="~/Theme/assets/images/footer-svg/footer-5.svg" style="width: 130px !important;"
                             alt="badge">
                    </a>
                </div>
            </div>

            <div class="copy-right-footer">
                <p>
                    استفاده از مطالب فروشگاه اینترنتی الکترون شاپ فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                    کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین الکترون شاپ) می‌باشد.
                </p>
            </div>
        </div>
    </div>
</footer>