<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <title>@ViewData["Title"] | فروشگاه اینترنتی سایکو شاپ</title>
    <link rel="shortcut icon" href="~/Theme/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/materialdesignicons.css">
    <link type="text/plain" href="~/Theme/assets/css/materialdesignicons.css.map">
    <link rel="stylesheet" href="~/Theme/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Theme/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/style.css">
    <script src="~/sweetalert2/dist/sweetalert2.min.js"></script>
    <link href="~/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header class="header-main-page">

        @await Component.InvokeAsync("MainMenu")

        @await Component.InvokeAsync("MobileMenu")

    </header>
    <div class="nav-categories-overlay"></div>
    <div class="overlay-search-box"></div>

    <div>
        @RenderBody()
    </div>

    <partial name="_Footer" />

    <script src="~/Theme/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Theme/assets/js/jquery.ez-plus.js"></script>
    <script src="~/Theme/assets/js/owl.carousel.min.js"></script>
    <script src="~/Theme/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Theme/assets/js/popper.min.js"></script>
    <script src="~/Theme/assets/js/bootstrap.js"></script>
    <script src="~/Theme/assets/js/theia-sticky-sidebar.min.js"></script>
    <script src="~/Theme/assets/js/main.js"></script>
    <script src="~/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/Theme/assets/js/plugins.js"></script>
    <script src="~/Theme/assets/js/cart-items.js"></script>
    <script>
        $(document).ready(function () {
            updateCart();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>